CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SF_DEFAULT_SPEED=40000000
CONFIG_DEFAULT_DEVICE_TREE="f1c200s_simple_sbc"
CONFIG_SPL=y
CONFIG_MACH_SUNIV=y
CONFIG_DRAM_CLK=156
CONFIG_DRAM_ZQ=0
# CONFIG_VIDEO_SUNXI is not set
CONFIG_SPL_SPI_SUNXI=y
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttyS0,115200n8 root=/dev/mmcblk0p2 rootwait rw rootfstype=ext4"
CONFIG_BOOTCOMMAND="mmc dev 0; ext4load mmc 0:2 ${loadaddr} /boot/boot.scr; source ${loadaddr}"
CONFIG_PREBOOT=""
# CONFIG_SYS_DEVICE_NULLDEV is not set
CONFIG_LOG=y
CONFIG_SYS_MAXARGS=32
CONFIG_CMD_EXT4_WRITE=y
CONFIG_CMD_SQUASHFS=y
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_ENV_IS_IN_SPI_FLASH is not set
CONFIG_DM_MTD=y
CONFIG_USE_SYS_MAX_FLASH_BANKS=y
# CONFIG_SPI_FLASH is not set
CONFIG_SPI=y
CONFIG_SPI_MEM=y
CONFIG_USB_MUSB_HOST=y
# CONFIG_USB_GADGET is not set
CONFIG_LZO=y
