// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2018 Icenowy Zheng <icenowy@aosc.io>
 * Modified by: I2Sense Lab <dmatkin@ucalgary.ca>
 */

/dts-v1/;
#include "f1c200s_simple_sbc.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "I2Sense Simple SBC";
	compatible = "allwinner,suniv-f1c100s";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_vcc5v: vcc5v {
		compatible = "regulator-fixed";
		regulator-name = "usb_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
	};

leds {
	compatible = "gpio-leds";

	heartbeat_led: led-0 {
		label = "heartbeat";
		gpios = <&pio 3 1 GPIO_ACTIVE_HIGH>; // PD1
		linux,default-trigger = "heartbeat";
		default-state = "off";
	};

	cpu_led: led-1 {
		label = "cpu";
		gpios = <&pio 3 2 GPIO_ACTIVE_HIGH>; // PD2
		linux,default-trigger = "cpu";
		default-state = "off";
	};

	activity_led: led-2 {
		label = "activity";
		gpios = <&pio 3 3 GPIO_ACTIVE_HIGH>; // PD3
		linux,default-trigger = "activity";
		default-state = "off";
	};

	custom_led: led-3 {
		label = "custom";
		gpios = <&pio 3 21 GPIO_ACTIVE_HIGH>; // PD21
		linux,default-trigger = "none";
		default-state = "off";
	};
};


};

/*
 * Pin Definitions
 */

/*
&be0 {
	status = "okay";
};

&de {
	status = "okay";
};
*/

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins_a>;
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "xtx,xt25f256", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x100000>;
				read-only;
			};

			partition@1 {
				label = "dtb";
				reg = <0x100000 0x10000>;
				read-only;
			};

			partition@2 {
				label = "kernel";
				reg = <0x110000 0x4F0000>;
				read-only;
			};

			partition@3 {
				label = "rootfs";
				reg = <0x600000 0x1A00000>;
			};
		};
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&otg_sram {
	status = "okay";
};

&usb_otg {
    dr_mode = "host";
    status = "okay";
};

&usbphy {
	status = "okay";
	usb0_vbus-supply = <&reg_vcc5v>;
};
